{% extends "base.html" %}

{% block content %}
  <div class="p-5">
    <h1>Add a New Device</h1>
  </div>
  
  <form class="row g-3 align-items-center" method="POST" action="{% url 'add_device' %}">
    <div class="col">
      <div class="input-group mb-3">
          {{ form.name }}
        <input class="form-control" type="hidden" name="ip_address" value="{{ user_ip }}">
        <button class="btn btn-outline-secondary" type="submit" id="add_btn">Button</button>
      </div>
    </div>
  </form>
{% endblock %}
