{% extends 'base.html' %}

{% block title %} Send Commands {% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
  // Submit the form using AJAX when the user clicks the submit button
  $('form').submit(function(event) {
    event.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    var data = form.serialize();

    $.ajax({
      url: url,
      type: 'POST',
      data: data,
      success: function(response) {
        $('#response').html(response);
      },
      error: function() {
        alert('An error occurred while sending the command.');
      }
    });
  });

  $(document).ajaxStart(function(){
    $('#response').html('<div class="text-center"><div class="spinner-grow text-secondary spinner-grow-sm" style="margin: 1rem;" role="status"></div><div class="spinner-grow text-secondary spinner-grow-sm" style="margin: 1rem;" role="status"></div><div class="spinner-grow text-secondary spinner-grow-sm" style="margin: 1rem;" role="status"></div></div>');
  });

});

</script>

{% endblock %}

{% block content %}
  <div class="p-5">
    <h1 class="text-center">Send Commands</h1>
  </div>
    
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        {{ form.command }}
        <button class="btn btn-outline-secondary" type="submit" id="send_command">Send</button>
      </div>
    </form>

    <h2>Response:</h2>
    <pre class="text-break text-start" id="response"></pre>
    
  </div>

{% endblock %}